.container2
{
    position: absolute!important;
    top:20%!important;
    left:10%;
    width: 80%!important;
    height: 70%!important;
}

.colorJA{
    color:#fff;
    background-color: rgb(175, 11, 44);
}

.letraJA {
    font: bold 25px/1 arial;
    text-transform: uppercase;
    color: rgb(15, 15, 15);
  }

.panel-heading{
    font-size: 1em!important;
}